.footer-section{
  background-color:#1E2147;
  height: 500px;
}

#myInput {
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

 .hero{
    background-image: url("./images/pexels-kampus-production-5940845.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
 }

 .bg-img{
  background-image: url("./images/krakenimages-Y5bvRlcCx8k-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
 }

 .courses-bg-img{
  background-image: url("./images/planning.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
 }

 input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  
}

.no-outline:focus {
  outline: none;
}

/* The navigation bar */
.contactNavbar {
  background-color: #f2f2f2; 
}

.contactNavbar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  max-width: 100%;
}

.cart{
  overflow: hidden;
  position: fixed;
  top: 700px required;
  
}


.cart-color{
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.5), 0 0 20px rgba(255, 192, 203, 0.5), 0 0 30px rgba(255, 192, 203, 0.5), 0 0 40px rgba(255, 192, 203, 0.5), 0 0 70px rgba(255, 192, 203, 0.5), 0 0 80px rgba(255, 192, 203, 0.5), 0 0 100px rgba(255, 192, 203, 0.5);
  animation: glow-effect 2s ease-in-out infinite;
}

@keyframes cart-color {
  0% {
    box-shadow: 0 0 10px rgba(255, 192, 203, 0.5), 0 0 20px rgba(255, 192, 203, 0.5), 0 0 30px rgba(255, 192, 203, 0.5), 0 0 40px rgba(255, 192, 203, 0.5), 0 0 70px rgba(255, 192, 203, 0.5), 0 0 80px rgba(255, 192, 203, 0.5), 0 0 100px rgba(255, 192, 203, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.8), 0 0 30px rgba(255, 192, 203, 0.8), 0 0 40px rgba(255, 192, 203, 0.8), 0 0 50px rgba(255, 192, 203, 0.8), 0 0 80px rgba(255, 192, 203, 0.8), 0 0 90px rgba(255, 192, 203, 0.8), 0 0 110px rgba(255, 192, 203, 0.8);
  }
}





/* Links inside the navbar */
.contactNavbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Change background on mouse-over */
/* .contactNavbar a:hover {
  background: #ddd;
  color: black;
} */